<!DOCTYPE html>
<html ng-app="myapplication">
<head>
  <title>Rails4CrudWithAngularjs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container" ng-view>
    <%= yield %>
  </div>

</body>
</html>
